<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./styling.css">
</head>
<body class="body">
    <div class="hero-section">
        <h1>professional.ai</h1>
        <h2><br>How can I help you today?</br></h2>
    </div>
    <div class="card">
        <form id="chat-form">
            <textarea id="messageInput"></textarea>
            <button id="button"type="submit"><i class="fa-solid fa-paper-plane"></i></button>
        </form>
        <div id="answer"></div>
    </div>
    <script src="./chat.js"></script>
</body>
</html>